{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#        {{ form_row(registrationForm.username) }}#}
{#        {{ form_row(registrationForm.plainPassword, {#}
{#            label: 'Password'#}
{#        }) }}#}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

{#        <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}

    <style>
        body {
            background-image: url("img/nature_leto.jpeg");
            background-color: #cccccc;
        }
    </style>
    <form method="post" >
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li>
                        <div class="alert alert-danger">{{ error.message }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                    <p class="text-white-50 mb-5">Будь ласка, введіть свої дані </p>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typeEmailX"
                                               class="form-control form-control-lg" name="username" required autofocus/>
                                        <label class="form-label" for="typeEmailX">Username</label>
                                    </div>


                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                               name="password"/>
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">



                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                        <a href="#!" class="text-white"><i
                                                    class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                        <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                    </div>

                                </div>

                                <div>
                                    <p class="mb-0">Mаєте акаунта? <a href="{{ path('app_login') }}"
                                                                         class="text-white-50 fw-bold">Увійти</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
